# Telegram Bot
BOT_TOKEN=your_telegram_bot_token_here

# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database_name?retryWrites=true&w=majority&appName=YourAppName

# Admin Panel
ADMIN_PASSWORD=your_admin_password_here
# ADMINS=123456789,987654321
FIRST_ADMIN_ID=your_first_admin_id_here

# Super Admin (той хто може керувати іншими адмінами)
SUPER_ADMINS=your_super_admin_id_here

# External URLs
RULES_URL=http://localhost:3000/rules
SUPPORT_CONTACT=@your_support_username

# Server
PORT=3000

# WebApp URL (для веб-адмінки)
WEBAPP_URL=http://your-domain.com/admin

# Bot Name
BOT_NAME=YourBotName